*{
	font-family: 'Quicksand', sans-serif;
	color: black;
	box-sizing: border-box;
}


body {
  margin: 0; /* Tricky: override browser default */
  padding: 80px;
}

.greybar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;

  background-color: #eeeeee;
  border-bottom: 1px solid #dddddd;
}

.top-nav {

}

.top-nav {
  position: absolute;
  right: 10px;
  top: 10px;
}

.nav-link {  /* i am not sure why my links are on top of each other....*/
  font-size: 18px;
  padding: 0 6px;
}

a {  /* struggling with alignment... */
	text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}

.search-section {
  margin-bottom: 30px;
}

.searchicon {
  height: 100%;
  width: 50px; /* trying to fix the stretching... */
}

label {
  display: block;
  margin-bottom: 8px;
}

.search-section input {
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 0 5px 0 8px;
  width: 400px;
}

.search-section .searchicon { /* stretching bit fixed when placed here used solution because stuck */
  font-size: 17px;
  width: 37px;
  height: auto;
  padding: 2px 6px 3px 6px;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

.navigation {
  display: inline-block; /* Tricky, this could start wrapping!  */
  font-size: 0;
  margin-bottom: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

.button {
  font-size: 16px;
  display: inline-block;
  padding: 8px 15px;
}
